if SHIELD_34SKB_LEFT

config ZMK_KEYBOARD_NAME
    default "34SKB"

config ZMK_SPLIT_ROLE_CENTRAL
    default y

endif

if SHIELD_34SKB_LEFT || SHIELD_34SKB_RIGHT

config ZMK_SPLIT
    default y

endif
